@import '../../../assets/styles/variables.module.scss';
@import '../../../assets/styles/mixins.module.scss';

.LatestEvents {
  @include darkSection('../../../../content/assets/tracks.jpg');
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $space;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  background: $color-light;
  padding: $space;
  display: flex;
}

.btn {
  margin-top: $space;
}

.heading {
  color: $color-light;
  margin-top: 0;
}

.eventHeading {
  margin: ($space / 2) 0 0 $space;
}
