@import '../../../assets/styles/variables.module.scss';

.Button {
  border: 3px solid $color-dark;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  padding: 10px 10px 7px;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 2px;
  color: $color-dark;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $color-light;
    background: $color-dark;
  }

  &Ghost {
    border: 3px solid $color-light;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 10px 10px 7px;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    color: $color-light;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: $color-dark;
      background: $color-light;
    }
  }
}
