@import '../../../assets/styles/variables.module.scss';

.Footer {
  text-align: center;
  background: $color-dark;
}

.pageCap {
  border-top: 1px solid lighten($color-gray-light, 40%);
  padding: 50px 0;
  background: $color-light;
}

.info {
  padding: 50px 0;
  color: $color-light;
  font-family: $font-primary;
}

.logo {
  border-radius: 7px;
  width: 50px;
  height: auto;
}
