@import './variables.module.scss';

:global {
  html {
    box-sizing: border-box;
    font-family: $font-secondary;
    /* Root for rems
      62.5% takes 16px (browser default size for medium text) down to 10px
      ref: http://clagnut.com/blog/348/ */
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    line-height: 1;

    @media only screen and (max-width: 480px) {
      font-size: 100%;
    }
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background: $color-light;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    color: $color-gray;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.2;

    @media (min-width: $bp-md) {
      font-size: 20px;
      font-size: 2rem;
    }
  }
  
  a {
    text-decoration: none;
    color: $color-primary;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    transition: color 0.3s;
  }

  a:active,
  a:hover {
    outline-width: 0;
    color: $color-primary-light;
  }

  .notFoundPage {
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
  
    @media (min-width: $bp-md) {
      background-position: center;
      padding-top: $content-vertical-padding;
    }
  
    &:before {
      background: $color-secondary;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    body {
      background: transparent;
    }
  }
}
