@import '../../../assets/styles/variables.module.scss';

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin alignright {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;

  @media (min-width: $bp-sm) {
    clear: none;
    display: inline;
    float: right;
    margin-bottom: 0;
    margin-left: 1.5em;
    max-width: 50% !important;
    height: auto;
  }
}

@mixin alignleft {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;

  @media (min-width: $bp-sm) {
    clear: none;
    display: inline;
    float: left;
    margin-bottom: 0;
    margin-right: 1.5em;
    max-width: 50%  !important;
    height: auto;
  }
}

@mixin aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;
}

@mixin section {
  padding: 50px 0;
  text-align: center;
}

@mixin darkSection($imgSrc) {
  @include section;
  background-color: $color-gray-light;
  background-image: linear-gradient(
    to bottom, 
    rgba($color-gray-light, 0.95) 0%, 
    rgba($color-gray-light, 0.95) 100%);
  background-image: url(#{$imgSrc});
  background-image: linear-gradient(
    to bottom, 
    rgba($color-gray-light, 0.95) 0%, 
    rgba($color-gray-light, 0.95) 100%),
    url(#{$imgSrc});
  background-repeat: no-repeat, repeat;
  background-position: center, center top;
  background-size: contain, 25%;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
}
